---
import BaseLayout from '../layouts/BaseLayout.astro';
import TopNav from '../components/TopNav.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/home/Hero.astro';
import CapacityStats from '../components/home/CapacityStats.astro';
import ServicesGrid from '../components/home/ServicesGrid.astro';
import CoverageBand from '../components/home/CoverageBand.astro';
import Certifications from '../components/home/Certifications.astro';
import AssistanceCTA from '../components/home/AssistanceCTA.astro';
---

<BaseLayout>
  <TopNav />
  <main id="main">
    <Hero />
    <CapacityStats />
    <ServicesGrid />
    <CoverageBand />
    <Certifications />
    <AssistanceCTA />
  </main>
  <Footer />
</BaseLayout>
